<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chongli.blog.dao.BlogDao">

    <insert id="insert" parameterType="com.chongli.blog.entity.CleanBlog">
        INSERT blog (title, text, preview, author, category, date)
        VALUES (#{title}, #{text}, #{preview}, #{author}, #{category}, #{date})
    </insert>

    <update id="update" parameterType="com.chongli.blog.entity.CleanBlog">
        UPDATE blog set title=#{title}, text=#{text}, preview=#{preview}, author=#{author},
        category=#{category}, date=#{date} where id=#{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM blog WHERE id=#{id}
    </delete>

	<!-- 博客详情 -->
    <select id="getById" parameterType="int" resultType="com.chongli.blog.entity.CleanBlog">
        SELECT * FROM blog WHERE id=#{id}
    </select>

    <select id="getByTitle" parameterType="String" resultType="com.chongli.blog.entity.CleanBlog">
        SELECT * FROM blog WHERE title=#{title}
    </select>

	<!-- 根据种类查找博客 -->
    <select id="getByCategory" parameterType="String" resultType="com.chongli.blog.entity.CleanBlog">
        SELECT * FROM blog WHERE category=#{category} ORDER BY id DESC
    </select>

	<!-- 查找所有博客 -->
    <select id="getAll" resultType="com.chongli.blog.entity.CleanBlog">
        SELECT * FROM blog ORDER BY id DESC
    </select>

</mapper>